Source: hadess-sensorfw-proxy
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libgio-2.0-dev,
               libglib2.0-dev-bin,
               cmake,
               pkg-config,
Standards-Version: 4.7.2
Homepage: https://github.com/furilabs/hadess-sensorfw-proxy
Vcs-Git: https://github.com/furilabs/hadess-sensorfw-proxy.git

Package: hadess-sensorfw-proxy
Section: libs
Architecture: any
Pre-Depends: iio-sensor-proxy,
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libsensorfw-qt6-plugins,
         libsensorfw-qt6-hybris,
Description: Sensorfw sensors to hadess iio proxy adaptor
 Sensorfw sensors to hadess iio proxy adaptor
